.tag-container {
  display: flex;
  // gap: 40px 30px;
}

.tags {
  margin-left: 10px;
  height: 53px;
  width: 200px;
  background-color: $color-3;
  border-radius: 11px;
  outline: 0;
  border: 0;
  &__picked {
    // width: 200px;
    // min-width: 200px;
    height: 53px;
    line-height: 53px;
    padding: 0 18px;
    align-items: center;
    gap: 60px;
    border-radius: 10px;
    background: $color-3;
    font-size: 0.875rem;
    flex-shrink: 1;
  }
  &__cross {
    float: right;
    // padding-top: 22px;
    margin: 0 22px;
    cursor: pointer;
  }
}
