@keyframes collapse {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 259px; /* ou une valeur suffisante pour contenir le contenu */
  }
}

@keyframes collapse-up {
  from {
    opacity: 1;
    max-height: 259px;
  }
  to {
    opacity: 0;
    max-height: 0;
  }
}
